<%- include('nav') %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
<div class="container" id="statisticsContainer">
    <div class="row"></div>
    <div id="statistics-page" class="row">
        <div class="col s12 m2 l4">
        </div>
        <div class="col s12 m8 l4 z-depth-4 card-panel">
            <div class="row ">
                <h4 class="center-align">Developers</h4>
            </div>
            <div class="row margin">
                <div class="col s12">
                    Aravind V. Nair :
                    <br><br>
                    <a href="https://aravindvnair99.firebaseapp.com"><i class="fas fa-link">&nbsp;Website</i></a>
                    &ThickSpace;
                    <a href="https://linkedin.com/in/aravindvnair99/"><i class="fab fa-linkedin">&nbsp;LinkedIn</i></a>
                    &ThickSpace;
                    <a href="https://github.com/aravindvnair99"><i class="fab fa-github">&nbsp;GitHub</i></a>
                    &ThickSpace;
                    <a href="https://www.facebook.com/AravindV.Nair1999"><i class="fab fa-facebook">&nbsp;Facebook</i></a>
                    &ThickSpace;
                    <a href="https://instagram.com/aravindvnair99/"><i class="fab fa-instagram">&nbsp;Instagram</i></a>
                    &ThickSpace;
                    <a href="https://plus.google.com/+AravindVNair"><i class="fab fa-google-plus">&nbsp;Google+</i></a>
                    &ThickSpace;
                    <a href="https://twitter.com/aravindvnair99/"><i class="fab fa-twitter">&nbsp;Twitter</i></a>
                    &ThickSpace;
                    <a href="https://aravindvnair1999.blogspot.com"><i class="fab fa-blogger">&nbsp;Blog</i></a>
                </div>
            </div>
            <div class="row margin">
                <div class="col s12">
                    Abhishek Sai :
                    <br><br>
                    <a href="https://www.linkedin.com/in/abhishek-sai-8b352a159/"><i class="fab fa-linkedin">&nbsp;LinkedIn</i></a>
                    &ThickSpace;
                    <a href="https://github.com/Abhishek-Sai"><i class="fab fa-github">&nbsp;GitHub</i></a>
                    &ThickSpace;
                    <a href="https://www.facebook.com/abhishek.sai.52"><i class="fab fa-facebook">&nbsp;Facebook</i></a>
                    &ThickSpace;
                    <a href="https://www.instagram.com/abhishek.kvs/"><i class="fab fa-instagram">&nbsp;Instagram</i></a>
                </div>
            </div>
            <div class="row margin">
                <div class="col s12">
                    Aarohan 2018 Dashboard Details :
                    <br><br>
                    <a href="https://github.com/aravindvnair99/Aarohan2018/blob/master/README.md"><i class="fas fa-book">&nbsp;Documentation</i></a>
                    &ThickSpace;
                    <a href="https://github.com/aravindvnair99/Aarohan2018/blob/master/CONTRIBUTING.md"><i class="fas fa-hands-helping">&nbsp;Contribute</i></a>
                    &ThickSpace;
                    <a href="https://github.com/aravindvnair99/Aarohan2018/blob/master/LICENSE"><i class="fas fa-file">&nbsp;License</i></a>
                    &ThickSpace;
                    <a href="https://github.com/aravindvnair99/Aarohan2018/graphs/contributors"><i class="fas fa-chart-bar">&nbsp;Statistics</i></a>
                    &ThickSpace;
                    <a href="https://github.com/aravindvnair99/Aarohan2018/releases"><i class="fas fa-code-branch">&nbsp;Releases</i></a>
                    &ThickSpace;
                    <a href="https://github.com/aravindvnair99/Aarohan2018/commits/master"><i class="fas fa-history">&nbsp;Changelog</i></a>
                </div>
            </div>
        </div>
    </div>
    <%- include('foot') %>