<!DOCTYPE html>
<html>

<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128233760-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-128233760-1');
	</script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
	<link typr="text/css" rel="stylesheet" href="css/home.css">
	<title>Aarohan Registration</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="apple-mobile-web-app-title" content="Aarohan18">
	<meta name="application-name" content="Aarohan18">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="theme-color" content="#ffc40d">
	<script src="/__/firebase/5.5.5/firebase-app.js"></script>
	<script src="/__/firebase/5.5.5/firebase-auth.js"></script>
	<script src="/__/firebase/init.js"></script>
	<script>
		function toggleSignIn() {
			if (firebase.auth().currentUser) {
				firebase.auth().signOut();
			} else {
				var email = document.getElementById('username').value;
				var password = document.getElementById('password').value;
				if (email.length < 4) {
					alert('Please enter an email address.');
					return;
				}
				if (password.length < 4) {
					alert('Please enter a password.');
					return;
				}
				firebase.auth().signInWithEmailAndPassword(email, password).catch(function (error) {
					var errorCode = error.code;
					var errorMessage = error.message;
					if (errorCode === 'auth/wrong-password') {
						alert('Wrong password.');
					} else {
						alert(errorMessage);
					}
					console.log(error);
				});
			}
		}
		function initApp() {
			firebase.auth().onAuthStateChanged(function (user) {
				if (user) {
					var displayName = user.displayName;
					var email = user.email;
					window.location = "/";
				} else {
					// User is signed out.
				}
			});
		}
		window.onpaint = initApp();
	</script>
</head>

<body>
	<header>
		<nav>
		</nav>
	</header>