<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
	<link typr="text/css" rel="stylesheet" href="css/home.css">
	<title>Aarohan Registration</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="apple-mobile-web-app-title" content="Aarohan18">
	<meta name="application-name" content="Aarohan18">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="theme-color" content="#ffc40d">
	<script src="/__/firebase/5.5.5/firebase-app.js"></script>
	<script src="/__/firebase/5.5.5/firebase-auth.js"></script>
	<script src="/__/firebase/5.5.5/firebase-firestore.js"></script>
	<script src="/__/firebase/init.js"></script>
	<script type="text/javascript">
		var timeoutWarning = 840000; // Display warning in 14 Mins.
		var timeoutNow = 900000; // Warning has been shown, give the user 1 minute to interact
		var warningTimer, timeoutTimer;
		function StartWarningTimer() {
			warningTimer = setTimeout("IdleWarning()", timeoutWarning);
		}
		function ResetTimeOutTimer() {
			clearTimeout(timeoutTimer);
			StartWarningTimer();
			$("#timeout").dialog('close');
		}
		function IdleWarning() {
			clearTimeout(warningTimer);
			timeoutTimer = setTimeout("signOut()", timeoutNow);
			$("#timeout").dialog({
				modal: true
			});
			// Add code in the #timeout element to call ResetTimeOutTimer() if
			// the "Stay Logged In" button is clicked
		}
		function signOut() {
			firebase.auth().signOut();
		}
		function initApp() {
			firebase.auth().onAuthStateChanged(function (user) {
				if (user) {
					StartWarningTimer();
					var d = new Date();
					if ((d.getTime() - Date.parse(user.metadata.lastSignInTime)) > 900000) {
						alert("Please login again. Session expired.")
						firebase.auth().signOut();
					}
					var displayName = user.displayName;
					var email = user.email;
					var uid = user.uid;
					var a = document.getElementById('uiads');
					a.href = "/notif?uid=" + uid;
					document.getElementById("accountName").innerHTML = email;
				} else {
					alert("Signed Out");
					window.location = "/login";
				}
			});
		}
		window.onload = initApp();
	</script>
</head>

<body>
	<header>
		<nav>
			<ul id="slide-out" class="side-nav">
				<li><img class="responsive-img" src="images/logo.png"></li>
				<li><a id="accountName" class="waves-effect"></a></li>
				<li>
					<div class="divider"></div>
				</li>
				<li><a class="waves-effect" href="/" style="height: 120px">
						<h4 style="color: #3eaca8; padding: 1px; text-align: center">Aarohan Registration</h4>
					</a></li>
				<li><a class="waves-effect" href="/schoolReg"><i class="material-icons">account_balance</i>School Registration</a></li>
				<li><a class="waves-effect" href="/studentReg"><i class="material-icons">people</i>Student Registration</a></li>
				<li><a class="waves-effect" href="/eventReg"><i class="material-icons">local_play</i>Event Registration</a></li>
				<li><a class="waves-effect" href="/viewSchools"><i class="material-icons">school</i>Schools</a></li>
				<li><a class="waves-effect" href="/edit"><i class="material-icons">settings</i>Edit Student</a></li>
				<li>
					<div class="divider"></div>
				</li>
				<li><a class="waves-effect" href="#"><i class="material-icons">developer_mode</i>Developers</a></li>
				<li><a class="waves-effect" onclick="signOut()"><i class="material-icons">arrow_back</i>Logout</a></li>
			</ul>
			<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
		</nav>
	</header>