<% include nav.ejs %>
<script>
	firebase.auth().onAuthStateChanged(function (user) {
		if (user.email === "project@aarohan.org" || "admin@aarohan.org") {
			// Correct user
		} else {
			Materialize.toast("Access denied", 1000);
			window.location = "/eventReg";
		}
	});
</script>
<div class="container">
	<div class="row"></div>
	<div class="row">
		<div class="col l3"></div>
		<div class="col s12 l6">
			<div class="card">
				<form action="/onEventReg" method="POST" id="form">
					<div class="card-content">
						<h4 style="color: #faae29">Event Registration</h4><br>
						<div class="input-field">
							<input id="eventName" name="eventName" value="Project exhibition" type="hidden" class="hidden" required>
							<label for="eventName">
							</label>
						</div>
						<div class="input-field">
							<input id="Student1" onchange="check()" name="Student1" type="text" maxlength="4" minlength="4" class="validate">
							<label for="Student1">Student 1</label>
						</div>
						<div class="input-field">
							<input id="Student2" onchange="check()" name="Student2" type="text" maxlength="4" minlength="4" class="validate">
							<label for="Student2">Student 2</label>
						</div>
						<div class="input-field">
							<input id="Student3" onchange="check()" name="Student3" type="text" maxlength="4" minlength="4" class="validate">
							<label for="Student3">Student 3</label>
						</div>
						<div class="input-field">
							<input id="Student4" onchange="check()" name="Student4" type="text" maxlength="4" minlength="4" class="validate">
							<label for="Student4">Student 4</label>
						</div>
						<div class="input-field">
							<input id="Student5" onchange="check()" name="Student5" type="text" maxlength="4" minlength="4" class="validate">
							<label for="Student5">Student 5</label>
						</div>
						<div class="input-field">
							<input id="Student6" onchange="check()" name="Student6" type="text" maxlength="4" minlength="4" class="validate">
							<label for="Student6">Student 6</label>
						</div>
						<!-- <a id="filldetails" onclick="addFields()">Fill Details</a> -->
						<div class="card-action">
							<button class="btn waves-effect waves-light" type="submit" name="action" onclick="Materialize.toast('Registered', 400)">Submit
								<i class="material-icons right">send</i>
							</button>
						</div>
						<div class="input-field">
							<input .value=count id="t1" name="schoolId" type="hidden" class="validate" required>
							<label class="active" for="t1"></label>
						</div>
						<div id="container" />
				</form>
			</div>
		</div>
	</div>
</div>
<%include foot.ejs %>
<script>
	var db = firebase.firestore();
	function check() {
		var eventName = document.getElementById("eventName").value;
		var student1 = document.getElementById("Student1").value;
		var student2 = document.getElementById("Student2").value;
		var student3 = document.getElementById("Student3").value;
		var student3 = document.getElementById("Student4").value;
		var student3 = document.getElementById("Student5").value;
		var student3 = document.getElementById("Student6").value;
		db.collection("events").doc(eventName).collection("Students").doc(student1).get().then((doc) => {
			if (doc.exists) {
				Materialize.toast("Student already exists", 1500);
				document.getElementById("Student1").value = '';
			}
		}).catch((err) => {
			console.log(err);
		});
		db.collection("events").doc(eventName).collection("Students").doc(student2).get().then((doc) => {
			if (doc.exists) {
				Materialize.toast("Student already exists", 1500);
				document.getElementById("Student2").value = '';
			}
		}).catch((err) => {
			console.log(err);
		});
		db.collection("events").doc(eventName).collection("Students").doc(student3).get().then((doc) => {
			if (doc.exists) {
				Materialize.toast("Student already exists", 1500);
				document.getElementById("Student3").value = '';
			}
		}).catch((err) => {
			console.log(err);
		});
		db.collection("events").doc(eventName).collection("Students").doc(student4).get().then((doc) => {
			if (doc.exists) {
				Materialize.toast("Student already exists", 1500);
				document.getElementById("Student4").value = '';
			}
		}).catch((err) => {
			console.log(err);
		});
		db.collection("events").doc(eventName).collection("Students").doc(student5).get().then((doc) => {
			if (doc.exists) {
				Materialize.toast("Student already exists", 1500);
				document.getElementById("Student5").value = '';
			}
		}).catch((err) => {
			console.log(err);
		});
		db.collection("events").doc(eventName).collection("Students").doc(student6).get().then((doc) => {
			if (doc.exists) {
				Materialize.toast("Student already exists", 1500);
				document.getElementById("Student6").value = '';
			}
		}).catch((err) => {
			console.log(err);
		});
	}
</script>