<% include nav.ejs %>
<script>
	firebase.auth().onAuthStateChanged(function (user) {
		if (user.email === "staff@aarohan.org" || user.email === "admin@aarohan.org" || user.email === "core@aarohan.org" || user.email === "desk1@aarohan.org" || user.email === "desk2@aarohan.org" || user.email === "desk3@aarohan.org" || user.email === "desk4@aarohan.org" || user.email === "desk5@aarohan.org" || user.email === "desk6@aarohan.org" || user.email === "desk7@aarohan.org" || user.email === "desk8@aarohan.org" || user.email === "desk9@aarohan.org" || user.email === "desk10@aarohan.org" || user.email === "desk11@aarohan.org" || user.email === "desk12@aarohan.org" || user.email === "desk13@aarohan.org") {
			// Correct user
		} else {
			Materialize.toast("Access denied", 1000);
			window.location = "/";
		}
	});
</script>

<div class="container">
	<div class="row"></div>
	<div class="row">
		<div class="col l3"></div>
		<div class="col s12 l6">
			<div class="card">
				<form action="/onSchoolReg" method="POST" onsubmit="Materialize.toast('Added', 1000);">
					<div class="card-content">
						<h4>School Registration</h4><br>
						<div class="input-field">
							<input id="schoolName" onchange="check()" name="schoolName" type="text" class="validate" required>
							<label for="schoolName">School Name</label>
						</div>
						<div class="input-field">
							<input id="facultyName" name="facultyName" type="text" class="validate" required autocomplete="name">
							<label for="facultyName">Faculty Name</label>
						</div>
						<div class="input-field">
							<input id="mobile" minlength="10" maxlength="10" name="mobile" type="tel" class="validate" required autocomplete="tel">
							<label for="mobile">Faculty Number</label>
						</div>
						<div class="input-field">
							<input id="email" name="email" type="email" class="validate" required autocomplete="email">
							<label for="email">Faculty email</label>
						</div>
						<div class="input-field">
							<input id="cheque" name="cheque" type="text" class="validate" required>
							<label for="cheque">Cheque Name</label>
						</div>
					</div>
					<div class="card-action">
						<button class="btn waves-effect waves-light" type="submit">Submit
							<i class="material-icons right">send</i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<%include foot.ejs %>
<script>
	var db = firebase.firestore();
	function check() {
		var schoolName = document.getElementById("schoolName").value;
		db.collection("Schools").doc(schoolName).get().then((doc) => {
			if (doc.exists) {
				Materialize.toast("School already exists", 1500);
				document.getElementById("schoolName").value = '';
			}
		}).catch((err) => {
			console.log(err);
		});
	}
</script>