<% include nav.ejs %>
<div class="container" id="statisticsContainer">
    <div class="row"></div>
    <div id="statistics-page" class="row">
        <div class="col s12 m2 l4">
        </div>
        <div class="col s12 m8 l4 z-depth-4 card-panel">
            <div class="row ">
                <h4 class="center-align">Login</h4>
            </div>
            <div class="row margin">
                <div class="col s12">
                    Number of Schools
                    <span id="school">

                    </span>
                </div>
            </div>
            <div class="row margin">
                <div class="col s12">
                    Male Count
                    <span id="male">
                    </span>
                </div>
            </div>
            <div class="col s12 m2 l4">
                <!-- Note that "m4 l3" was added -->
            </div>
        </div>
    </div>
    <script>
        var db = firebase.firestore();
        db.collection("Schools").get().then(snap => {
            size = snap.size
            console.log(size);
            var sch = document.getElementById("school");
            sch.innerText = size;
        });
        db.collection("statistics").doc("statistics").get().then((doc) => {
            if(doc.exists){
                male = doc.data().male;
                console.log(male);
                var man = document.getElementById("male");
                man.innerText = male;
            }
        });

    </script>
    <%include foot.ejs %>