<% include nav.ejs %>
<div class="container" id="statisticsContainer">
	<div class="row"></div>
	<div id="statistics-page" class="row">
		<div class="col s12 m2 l4">
		</div>
		<div class="col s12 m8 l4 z-depth-4 card-panel">
			<div class="row ">
				<h4>&ThickSpace;Statistics</h4>
			</div>
			<div class="row margin">
				<div class="col s12 center-align">
					Number of Schools :
					<span id="schools">
					</span>
				</div>
			</div>
			<div class="row margin">
				<div class="col s12 center-align">
					Number of Students :
					<span id="students">
					</span>
				</div>
			</div>
			<div class="row ">
				<h4>&ThickSpace;Male</h4>
			</div>
			<div class="row margin">
				<div class="col s12 center-align">
					Total Count :
					<span id="male">
					</span>
				</div>
			</div>
			<div class="col s12 m2 l4">
				<!-- Note that "m4 l3" was added -->
			</div>
			<div class="row margin">
				<div class="col s12 center-align">
					Male Junior :
					<span id="malejun">
					</span>
				</div>
			</div>
			<div class="col s12 m2 l4">
				<!-- Note that "m4 l3" was added -->
			</div>
			<div class="row margin">
				<div class="col s12 center-align">
					Male Senior :
					<span id="malesen">
					</span>
				</div>
			</div>
			<div class="row ">
				<h4>&ThickSpace;Female</h4>
			</div>
			<div class="row margin">
				<div class="col s12 center-align">
					Total Count :
					<span id="female">
					</span>
				</div>
			</div>
			<div class="col s12 m2 l4">
				<!-- Note that "m4 l3" was added -->
			</div>
			<div class="row margin">
				<div class="col s12 center-align">
					Female Junior :
					<span id="femalejun">
					</span>
				</div>
			</div>
			<div class="col s12 m2 l4">
				<!-- Note that "m4 l3" was added -->
			</div>
			<div class="row margin">
				<div class="col s12 center-align">
					Female Senior :
					<span id="femalesen">
					</span>
				</div>
			</div>
			<div class="col s12 m2 l4">
				<!-- Note that "m4 l3" was added -->
			</div>
		</div>
	</div>
	<script>
		var db = firebase.firestore();
		db.collection("Schools").onSnapshot(snap => {
			document.getElementById("schools").innerText = snap.size;
		});
		db.collection("Students").onSnapshot(snap => {
			document.getElementById("students").innerText = snap.size;
		});
		db.collection("Students").where("gender", "==", "Male")
			.onSnapshot(querySnapshot => {
				document.getElementById("male").innerText = querySnapshot.size;
			}), function (error) {
				console.log("Error getting documents: ", error);
			};
		db.collection("Students").where("gender", "==", "Male").where("category", "==", "Junior")
			.onSnapshot(querySnapshot => {
				document.getElementById("malejun").innerText = querySnapshot.size;
			}), function (error) {
				console.log("Error getting documents: ", error);
			};
		db.collection("Students").where("gender", "==", "Male").where("category", "==", "Senior")
			.onSnapshot(querySnapshot => {
				document.getElementById("malesen").innerText = querySnapshot.size;
			}), function (error) {
				console.log("Error getting documents: ", error);
			};
		db.collection("Students").where("gender", "==", "Female")
			.onSnapshot(querySnapshot => {
				document.getElementById("female").innerText = querySnapshot.size;
			}), function (error) {
				console.log("Error getting documents: ", error);
			};
		db.collection("Students").where("gender", "==", "Female").where("category", "==", "Junior")
			.onSnapshot(querySnapshot => {
				document.getElementById("femalejun").innerText = querySnapshot.size;
			}), function (error) {
				console.log("Error getting documents: ", error);
			};
		db.collection("Students").where("gender", "==", "Female").where("category", "==", "Senior")
			.onSnapshot(querySnapshot => {
				document.getElementById("femalesen").innerText = querySnapshot.size;
			}), function (error) {
				console.log("Error getting documents: ", error);
			};
	</script>
	<%include foot.ejs %>