<div class="input-field">
    <input id="Student3" onchange="check()" name="Student3" type="text" maxlength="4" minlength="4" class="validate" required>
    <label for="Student3">Student 3</label>
</div>