<div class="input-field">
    <input id="Student2" onchange="check()" name="Student2" type="text" maxlength="4" minlength="4" class="validate" required>
    <label id="lb2" for="Student2">Student 2</label>
</div>