<div class="input-field">
    <input id="Student4" onchange="check()" name="Student4" type="text" maxlength="4" minlength="4" class="validate" required>
    <label id="lb4" for="Student4">Student 4</label>
</div>