<% include nav.ejs %>
<div class="container">
<div class="row"></div>
<div class="row">
    <div class="col l3"></div>
    <div class="col s12 l6">
    <div class="card">
        <form onsubmit="return isValidForm()" action="/reg_student" method="POST">
            <div class="card-content">
            <h4 style="color: #faae29;">Student Registration</h4><br>
                    <div class="input-field">
                      <input name="uid" placeholder="ARHNXXXX" onclick="putARHN()" id="uid" type="text" class="validate" required>
                      <label class="active" for="uid">Aaorhan ID</label>
                    </div>
                    <div class="input-field">
                      <input  value="" id="t1" name="name" type="text" class="validate" required>
                      <label class="active" for="t1">Student Name</label>
                    </div>
                
                    <div class="input-field">
                    <select name="gender" required>
                      <option disabled selected></option>
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                    <label>Gender</label>
                    </div>
                
                    <div class="input-field">
                    <select name="category" required>
                      <option disabled selected></option>
                      <option>Junior</option>
                      <option>Senior</option>
                    </select>
                    <label>Category</label>
                    </div>
                
                    <div class="input-field">
                    <select name="school" required>
                        <option value="" disabled selected></option>
                        <% for(var i=0;i<Object.keys(schools).length;i++) { %>
                        <option><%= schools[i] %></option>
                        <% }%>
                    </select>
                    <label>School</label>
                    </div>
            </div>
            <div class="card-action">
            <button class="btn -waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
<script>
    function isValidForm() {
        var id = document.getElementById("uid").value;
        id = id.toUpperCase();
        var arhn = id.substring(0,4);
        var code = id.substring(4,8);
        if (id.length != 8 || arhn != "ARHN")  {
            Materialize.toast('Invalid ID',6000);
            return false;
        }
        if(isNaN(code)) {
            Materialize.toast('Invalid ID',6000);
            return false;
        }
        <% for(var i=0;i<studentsid.length;i++) { %>
            console.log("<%= studentsid[i] %>"+" "+id)
            if(id=="<%= studentsid[i] %>") {
            Materialize.toast('Aarohan ID already exists',6000);
            return false;
            }
        <% } %>
        return true;
    }
    function putARHN() {
        document.getElementById("uid").value = "ARHN";
    }
</script>
<%include foot.ejs %>
