<%- include('nav') %>
<script>
	firebase.auth().onAuthStateChanged(function (user) {
		if (user.email === "staff@aarohan.org" || user.email === "admin@aarohan.org" || user.email === "core@aarohan.org" || user.email === "desk1@aarohan.org" || user.email === "desk2@aarohan.org" || user.email === "desk3@aarohan.org" || user.email === "desk4@aarohan.org" || user.email === "desk5@aarohan.org" || user.email === "desk6@aarohan.org" || user.email === "desk7@aarohan.org" || user.email === "desk8@aarohan.org" || user.email === "desk9@aarohan.org" || user.email === "desk10@aarohan.org" || user.email === "desk11@aarohan.org" || user.email === "desk12@aarohan.org" || user.email === "desk13@aarohan.org") {
			// Correct user
		} else {
			Materialize.toast("Access denied", 1000);
			window.location = "/";
		}
	});
</script>

<head>
	<title>Student Registration Form</title>
</head>
<div class="container">
	<div class="row"></div>
	<div class="row">
		<div class="col l3"></div>
		<div class="col s12 l6">
			<div class="card">
				<form action="/onStudentReg" method="POST">
					<div class="card-content">
						<h4 style="color: #faae29;">Student Registration</h4><br>
						<div class="input-field">
							<select id="schoolName" name="schoolName" required>
								<option disabled selected></option>
								<% for(var i=0;i<Object.keys(obj).length;i++) { %>
								<option value="<%= obj[i] %>">
									<%= obj[i] %>
								</option>
								<% }%>
							</select>
							<label for="schoolName">School Name</label>
						</div>

						<div class="input-field">
							<div class="input-field">
								<input name="uid" id="uid" onchange="checkStud()" type="text" class="validate" maxlength="4" minlength="4"
								 required>
								<label class="active" for="uid">Aarohan ID</label>
							</div>
						</div>
						<div class="input-field">
							<input value="" id="studentName" name="studentName" type="text" class="validate" required>
							<label class="active" for="studentName">Student Name</label>
						</div>
						<div class="input-field">
							<select id="gender" name="gender" required>
								<option disabled selected></option>
								<option>Male</option>
								<option>Female</option>
							</select>
							<label for="gender">Gender</label>
						</div>

						<div class="input-field">
							<select id="category" name="category" required>
								<option disabled selected></option>
								<option>Junior</option>
								<option>Senior</option>
							</select>
							<label for="category">Category</label>
						</div>
						<div class="card-action">
							<button class="btn -waves-effect waves-light" type="submit" name="action">Submit
								<i class="material-icons right">send</i>
							</button>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>
<%- include('foot') %>
<script>
	var db = firebase.firestore();
	function checkStud() {

		var studName = "ARHN" + document.getElementById("uid").value;
		console.log(studName);
		db.collection("Students").doc(studName).get().then((doc) => {
			if (doc.exists) {
				Materialize.toast("Student already exists", 1500);
				document.getElementById("uid").value = '';
			}
		}).catch((err) => {
			console.log(err);
		});
	}
</script>