<% include nav.ejs %>

<head>
	<title>Student Registration Form</title>
</head>
<div class="container">
	<div class="row"></div>
	<div class="row">
		<div class="col l3"></div>
		<div class="col s12 l6">
			<div class="card">
				<form action="/onStudentReg" method="POST">
					<div class="card-content">
						<h4 style="color: #faae29;">Student Registration</h4><br>
						<div class="input-field">
							<select id="schoolName" name="schoolName" required>
								<option disabled selected></option>
							</select>
							<label for="schoolName">School Name</label>
						</div>

						<div class="input-field">
							<div class="input-field">
								<input name="uid" id="uid" type="text" class="validate" maxlength="4" minlength="4" required>
								<label class="active" for="uid">Aaorhan ID</label>
							</div>
						</div>
						<div class="input-field">
							<input value="" id="studentName" name="studentName" type="text" class="validate" required>
							<label class="active" for="studentName">Student Name</label>
						</div>
						<div class="input-field">
							<select id="gender" name="gender" required>
								<option disabled selected></option>
								<option>Male</option>
								<option>Female</option>
							</select>
							<label for="gender">Gender</label>
						</div>

						<div class="input-field">
							<select id="category" name="category" required>
								<option disabled selected></option>
								<option>Junior</option>
								<option>Senior</option>
							</select>
							<label for="category">Category</label>
						</div>
						<div class="card-action">
							<button class="btn -waves-effect waves-light" type="submit" name="action">Submit
								<i class="material-icons right">send</i>
							</button>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	var db = firebase.firestore();
	db.collection("Schools").get().then((querySnapshot) => {
		var i =1;
		querySnapshot.forEach((doc) => {
			console.log(doc.id)
			document.getElementById("schoolName").options[i] =new Option(doc.id);
			i++;
			// var select = document.getElementById('schoolName');
			// var opt = document.createElement('option');
			// opt.value = doc.id;
			// opt.innerHTML = doc.id;
			// select.appendChild(opt);

			// var g = document.createElement('option');
			// g.id = doc.id;
			// g.value = doc.id;
			// container = document.getElementById('schoolName')
			// container.appendChild(g);
		});
		return;
	}).catch((err) => {
		console.log(err);
	});
</script>
<!-- <form action="/onStudentReg" method="POST">
		<div class="card-content">
			<h4 style="color: #faae29;">Student Registration</h4><br>
			<div class="input-field">
				<input name="uid" onclick="putARHN()" id="uid" type="text" class="validate" required>
				<label class="active" for="uid">Aaorhan ID</label>
			</div>
			<div class="input-field">
				<input value="" id="t1" name="schoolId" type="text" class="validate" required>
				<label class="active" for="t1">School Id</label>
			</div>
			<div class="input-field">
				<input value="" id="t1" name="studentName" type="text" class="validate" required>
				<label class="active" for="t1">Student Name</label>
			</div>

			<div class="input-field">
				<select name="gender" required>
					<option disabled selected></option>
					<option>Male</option>
					<option>Female</option>
				</select>
				<label>Gender</label>
			</div>

			<div class="input-field">
				<select name="category" required>
					<option disabled selected></option>
					<option>Junior</option>
					<option>Senior</option>
				</select>
				<label>Category</label>
			</div>
			<div class="card-action">
				<button class="btn -waves-effect waves-light" type="submit" name="action">Submit
					<i class="material-icons right">send</i>
				</button>
			</div>
	</form> -->


<%include foot.ejs %>